/* Declaring custom properties */
* {
  box-sizing: border-box;
}

body {
  margin: 0em;
}

#compra{
  background-color: #303030;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: right;
  padding-right: 6em;
}

#compra i {
  color: white;
}

#compra span{
  margin: 0;
  color: yellow;
}

#logo{
  background-color: #454545;
}

#logo-description{
  padding-top: 1em;
  padding-bottom: 3em;
}

#logo-description img{
  padding-left: 6em;
}

menu {
  padding-left: 0;
  z-index: -5;
}

#menu{
  position: relative;
  text-align: center;
  margin-right: 6em;
  margin-left: 6em;
  top: -2.5em;
  background-color: white;
  z-index: 5;
}

#menu ul{
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#menu li {
  display: inline-block;
  vertical-align: text-top;
}

#menu p{
margin-right: 2em;
margin-left: 2em;
margin-bottom: 0;
}

#claro{
  position: relative;
  text-align: center;
  color: white;
}

#backimg{
  margin-top: -5.35em;
  background-image: url(FOTOS/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3em;
}

#claro-centrado {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-right: 35em;
  margin-left: 35em;
  background-color: rgba(0, 0, 0, 0.7);
}

#claro-centrado h1 {
  margin-top: 0;
  margin-bottom: 4em;
}

#claro-centrado button {
  height: 4em;
  width: 8em;
  background-color: #f8c420
}

#bannerdos {
  background-image: url(FOTOS/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: lightgrey;
}

#bannerdos h1 {
 margin-top: 0;
 margin-bottom: 0;
}

#bannerdos h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

#carpeta {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#carpeta i {
  font-size: 8em;
  color: #f8c420
}

#carpeta p {
  color: grey;
}

#carpeta h6 {
  color: #55a7bf;
}

#numero i {
  display: inline-block;
  font-size: 2em;
  color: #f8c420
}

#numero span {
  font-size: 25px;
  color: black;
}




#trestextos{
  text-align: center;
}

#trestextos h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#trestextos p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight:lighter;
}

#dosfotos {
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  text-align: center;
}

#tresfotos {
  overflow-x: auto;
  white-space: nowrap;
}

#tresfotos img {
  height: 25em;
  width: auto;
}

#check {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#check button{
  text-align: center;
  height: 4em;
  width: 14em;
}



#galleryy {
  background-color: grey;
  color: white;
}

#galleryy h2 {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 4em;
}


#galleryy {
  margin-top: -5.42em;
  padding-top: 2em;
  background-color: grey;
  color: white;
}

#galleryy h5 {
margin-top: 1.35em;
margin-bottom: 0;
margin-right: 7.15em;
}

#logo-main{
  display: inline-block;
}

#galleryy > ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
}


#footer {
  background-color: #454545;
  color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#footerdate{
  position: relative;
  margin-top: 1.40em;
  padding-left: 2.5em;
}

#footerdate i {
  position: absolute;
  font-size: 1.5em;
  top: 0.1em;
  margin right: 1em;
  left: 0.25em;
}

#footerdate h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#footerdate h6 {
  margin-top: 0.25em;
  margin-bottom: 0;
}

#footerdate button {
  background-color: #454545;
  border-color: #f8c420;
  color: lightgrey;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-left: -1.55em;
  margin-bottom: 1em;
  height: 2em;
  width: 12em;
}

#footerdos {
  background-color: #f8c420;
  color: black;
  display: grid;
  text-align: center;
}

#footerdos h4 {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
